.elements {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
  grid-auto-rows: minmax(281px, 1fr);
  gap: 20px 18px;
}

@media screen and (max-width: 425px) {
  .elements {
  margin-top: 36px;
  }
}
