.header {
  margin-top: 45px;
  margin-bottom: 0;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 992px) {
.header {
  margin-top: 28px;
  min-height: 56px;
  }
 }
