.profile__portrait-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0;
  transition: opacity linear 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.profile__portrait-overlay:hover {
  opacity: 0.8;
}
