.profile__info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 17px;
}

@media screen and (max-width: 425px) {
.profile__info {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  }
}

